[run]
branch = True
parallel = True
source =
    bin
    src
    tests/unit
    tests/integration

[paths]
source =
    src/
    .tox/py36-tests/lib/python3.6/site-packages/

[report]
show_missing = True
precision = 2
fail_under = 100.00
